html{-webkit-tap-highlight-color: transparent;}*{margin: 0%;padding: 0%;box-sizing: border-box;}
body{width: 100%;height: auto;background: black;color: white;display: flex;flex-direction: column;font-family: BBBouquet-Regular,Futura,Trebuchet MS,Arial,sans-serif;font-size: 1rem;}
footer, header{font-family: Trebuchet MS;}main ul li a{font-family: BBBouquet-Regular,Futura,Trebuchet MS,Arial,sans-serif;font-size: 1rem;letter-spacing: .15rem;}
a, p, h {color: white; text-decoration: none;}
header {width: 100%; height: 5rem; display: flex; align-items: center;}

.header-title {width: 100%;}


footer {margin-top:auto; padding-top: 1rem; width: 100%; height: 5rem; display: flex;justify-content: space-between;}
footer a, footer p {font-size: 1rem;letter-spacing: .15rem; padding: 1rem;}
.menu {height: auto; width: 100%;}
.menu-item-1 {background: lightgreen;}
.menu-item-2 {background: orange;}
.menu-item-3 {background: darkblue;}
.menu-item-1, .menu-item-2,.menu-item-3 {position: relative; width: 100%;text-align: right; text-decoration: none; list-style-type: none;}
.menu-item-1:hover, .menu-item-2:hover,.menu-item-3:hover {color: black; font-weight: bold;}
.menu-item-1 a:hover, .menu-item-2 a:hover,.menu-item-3 a:hover {color: black; font-weight: bold;}
.menu-item-a {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-btn {display: none;}
@media (max-width: 900px){
    footer{flex-wrap: nowrap; flex-direction: column;}}
@media (min-width: 900px){
    footer{flex-wrap: wrap; flex-direction: column;}
    .instagram{margin-left: 0;width: object-fit;}
    .datenschutz{margin-left: 0;width: object-fit;}
    .sponsoren{margin-left: 0;width: object-fit;}
    .team{margin-left: 0;width: object-fit;}
    .impressum{margin-left: 0;width: object-fit;}
    #top-btn{margin-left: auto; margin-right: 6%;width: object-fit;}
    }
 @media (min-width: 300px){
     
     .menu-item-1, .menu-item-2,.menu-item-3 {height: 5rem;}
     .header-title {font-size: 3rem;}
    .menu-item-1 a:hover, .menu-item-2 a:hover,.menu-item-3 a:hover {font-size: 3.25rem;}
     .menu-item-a {font-size: 3rem;}
     .menu-item-1, .menu-item-2,.menu-item-3 {height: 5rem;}
      .header-title {padding-left: 1rem;}
       .footer {padding-left:1rem;padding-right:1rem;}
     .menu-item-a {padding-right:1rem;}
    }
 @media (min-width: 750px){
     
     .menu-item-1, .menu-item-2,.menu-item-3 {height: 7rem;}
     .header-title {font-size: 3rem;}
    .menu-item-1 a:hover, .menu-item-2 a:hover,.menu-item-3 a:hover {font-size: 4.25rem;}
     .menu-item-a {font-size: 4rem;}
      .header-title {padding-left: 1rem;}
       .footer {padding-left:1rem;padding-right:1rem;}
     .menu-item-a {padding-right:1rem;}
    }
  @media (min-width: 900px){
      
     .menu-item-1, .menu-item-2,.menu-item-3 {height: 8rem;}
     .header-title {font-size: 4.5rem;}
    .menu-item-1 a:hover, .menu-item-2 a:hover,.menu-item-3 a:hover {font-size: 5.25rem;}
    .menu-item-a {font-size: 5rem;}
     .header-title {padding-left: 2rem;}
     .footer {padding-left:2rem;padding-right:2rem;}
     .menu-item-a {padding-right:2rem;}
    }
 @media (min-width: 1100px){
     .menu-item-1, .menu-item-2, .menu-item-3{height: 27vh;}
    .menu-item-1 a:hover, .menu-item-2 a:hover, .menu-item-3 a:hover {font-size: 22vh;}
     .menu-item-a {font-size: 20vh;}
     .header-title {padding-left: 3rem; font-size: 4.5rem}
     .footer {padding-left:3rem;padding-right:3rem;}
     .menu-item-a {padding-right:3rem;}
    }
